

h1 {
     color: red;
}
h2 {
    
    width:9%;
    font-style: italic;
    color: white;
}
h3 {
    background-color: white;
    width: 9%;
}
#weeb {
    color: white;
    font-size: 30px;
}

video {
    width: 70%;
    height: auto;
    bottom:200px;
    right: -30%;
    position: relative;
}
.website {
    font-size: x-large;
    color: white;
    text-decoration: line-through;
}
.new {
    font-size: x-large;
    color: white;
}
.dota {
    color: white;
    font-size: xx-large;
}


body { 
    background-image: url(dbwabq9-817c2cc9-c4ef-4333-a753-46cdcd20e4cf.png);
    background-size: 100%;

}
.game {
    color: blue; text-align: left; font-style: oblique;
    font-size: x-large;
    text-align: center;
}
.category {
    color: white;
    text-decoration: underline;
    font-size: large;
}
.songs {
    color: white;
    font-size: large;
}
.video {
    position: absolute; bottom: 20px;
    right: 50px;
    
}
.onlangs {
    color: white;
    font-size: x-large;
    list-style-type: none;    
}
table {
    color: white;
    font-size: x-large;
}
.grap {
    color: white;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color:orangered;
    
}
summary {
    text-align: center;
    font-size: x-large;
}
li > h1 {
    color: white;
}
.brs {
    text-align: center;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: green;
    padding: 10px;
    background-color: darkorange;
    
}
.favoriete2 {
    background-color: darkorange;
    color: green;
    text-align: center;
}
ul {
    list-style-type: none;
    padding: 20px;
    margin: 0;
}
.profileimg {
    width: 349px;
    height: 349px;
    position: relative;

}
.after {
    padding: 6px;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px;
    margin: 3px;
    border: 10px;
    opacity: 0%;
}
.after:hover {
    opacity: 100%;
}



