body {
  background-color: rgb(255, 255, 255);
  background-image: url(nba.png) ;
}



.kop{
   background-color: #9933cc;
  color: #291c1c;
  padding: 20px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color :#e4a3a3;
  color: #000000;
  box-shadow: 0 1px 3px rgba(167, 114, 114, 0.12), 0 1px 2px rgba(231, 144, 144, 0.24);
}

.centreren{
   display: flex;
   justify-content: center;
   height: 500px;;
}

.menu li:hover {
  background-color: #0099cc;
}

.aside {
  background-color: #33b5e5;
  padding: 15px;
  color: #2ac0935e;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(219, 166, 166, 0.12), 0 1px 2px rgba(126, 192, 99, 0.24);
}

.footer {
  background-color: #0099cc;
  color: #9c4848;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}

#myHeader {
  background-color: lightblue;
  color: rgb(209, 131, 131);
  padding: 40px;
  text-align: center;
} 

.head>
 .style>
  table, th, td {
    border: 10px solid rgb(204, 70, 110);
    color: rgb(255, 6, 6);
  }
  
  table {
    width: 100%;
  }
.detail{
  animation: both;
  color: #ee1414;
} 