
h1 {
   color: rgb(255, 81, 0);
    background-color: brown;
}
p {
    color: #fba1b2;
}
p.solid {border-style: solid;}

body{
    background-color: rgb(150, 10, 10);
}
img:hover{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1)
}


        

        table.customTable {

            width: 20%;
            background-color: #FFFFFF;
            border-collapse: collapse;
            border-width: 2px;
            border-color: #000000;
            border-style: solid;
            color: #000000;
          }

          table.customTable td, table.customTable th {

            border-width: 2px;
            border-color: #000000;
            border-style: solid;
            padding: 4px;
          
          }
          
          table.customTable thead {
          
            background-color: #ffffff;
          
          }

          .center {

            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            
            width: 200px;
            height: 200px;
            border-radius: 50%;
            
            }
            h3 {

                text-align: center;
                font-family: 'Poppins', sans-serif; 
                
                }
          
                 li{

                    text-align: center;
                    font-family: 'Poppins', sans-serif; 
                    
                    }
                    .kip{

                        text-align: center;
                        font-family: 'Poppins', sans-serif; 
                        
                        }