h1 {
    position: relative; left: 40%;
    color: #f56a6a   

}

body { 
    background-color: rgb(67, 98, 107);
}
span {
    color: aqua;
    font-size: 20px
}
#eten {
position: relative; left: 20%;
border: 6px solid rgb(247, 209, 163);
margin: 4%;

}
p {
    font-size: 15px;
}
ul {
    mask-type: alpha;
}
.info {
    
    background-color: #f2f2f2;
    width: 50%;
    background-image: url("foto-sander-claasen-1024x683.jpg");
    padding: 10px;
    margin: 10px;
    border: 10px solid rgba(255, 0, 0, 0.527);
    
    
}
img {
border: 4px solid bisque;
}


iframe {
    bottom: yityejd;
}
