body {
  background-color: #d3d3d3;
}

.info {
  background-color: #f2f2f2;
  width: 25%;
  height: 240px;
  padding: 10px;
  margin: 10px;
  border: 10px solid rgba(255, 0, 0, 0.527);
  position: absolute;
  top: 15%;
}

h1,
h2 {
  text-align: center;
}

h3 {
  letter-spacing: 2px;
  word-spacing: 2px;
  color: red;
}

span {
  background-color: rgb(117, 230, 126);
  letter-spacing: 2px;
  word-spacing: 2px;
  text-decoration: underline;
  color: white;
}

.imgs {
  display: flex;
  justify-content: center;
}

.imgs img {
  transition-duration: 0.5s;
  transition-delay: 0.1s;
}

.imgs img:hover {
  margin-left: 100px;
}

video {
  width: 480px;
  height: 560px;
  position: absolute;
  top: 10px;
  left: 70%;
  transform: scale(1) rotate3d(1, 1, 1, 0deg);
  transition: all 1s;
}

video:hover {
  margin-top: 200px;
  transform: rotate3d(1, 1, 1, 360deg) scale(1.7);
}

.table {
  background-color: aqua;
  width: fit-content;
  margin: 50px;
  padding: 30px;
  cursor: grab;
  filter: grayscale(0);
  transition: filter 0.5s;
}

.table:hover {
  filter: grayscale(1);
}

.things {
  display: flex;
  justify-content: space-around;
}

td,
th {
  border-style: solid;
  border-color: coral;
  background-color: darkgrey;
}

.food img {
  width: 450px;
  height: 300px;
  border: 5px solid rgb(173, 245, 182);
}

.flex {
  display: flex;
  justify-content: space-around;
}

.music1 {
  width: fit-content;
  border: 10px solid rgb(134, 49, 247);
  margin: 20px;
  position: relative;
  left: 38%;
} 

audio, .music1 div {
  margin: 20px;
}

div span {
  position: relative;
  left: 17px;
}

.p {
  background-color: wheat;
  width: fit-content;
  padding: 9px;
  position: fixed;
  bottom: 0px;
  right: 0px;
}

.li {
  background-color: #d3d3d3;
}

.li:hover {
  background-color: #f5b0b0;
}
