h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h1:hover {
    filter: blur(10px)
}

div {
    text-align: center;
}

ol {
    text-align: center;
}

li {
    text-align: center;
}

h3 {
    text-align: center;
}

ul {
    text-align: center;
}

p {
    text-align: center;
}

img {
    cursor: crosshair;
    filter: grayscale(1);
}

img:hover {
    filter: grayscale(0)
}

body {
    background-color: lightskyblue;
}

.deadpool-video {
    display: flex;
    justify-content: center;
}

.Rick-picture {
    display: flex;
    justify-content: center;}