.center {display:flex; justify-content:center;}
img {width: 200px; cursor: pointer; filter: grayscale(100%);transition:0.5s;}
img:hover {filter: grayscale(0%);}
video.vid { width:300px}
p.bold {font-weight: bold;}
table, th, td {border: 1px solid black; }
body {background-color:aliceblue;}
h1 {background-color: black; color:whitesmoke; font-size: 70px; padding:20px; width: 400px}
div {background-color: teal; width: 600px}
th {background-color: rebeccapurple; color: seashell;}
td {background-color: silver;}
div.list {background-color:lightseagreen;}